--slate-0: oklch(100% 0 none);
--slate-5: oklch(99.84% 0 247.42deg);
--slate-10: oklch(99.68% 0 247.71deg);
--slate-15: oklch(99.52% 0 247.79deg);
--slate-20: oklch(99.37% 0 247.82deg);
--slate-25: oklch(99.21% 0 247.83deg);
--slate-30: oklch(99.05% 0 247.83deg);
--slate-35: oklch(98.89% 0 247.83deg);
--slate-40: oklch(98.73% 0 247.82deg);
--slate-45: oklch(98.57% 0 247.81deg);
--slate-50: oklch(98.42% 0 247.8deg);
--slate-55: oklch(98.26% 0 247.83deg);
--slate-60: oklch(98.1% 0 247.85deg);
--slate-65: oklch(97.94% 0 247.86deg);
--slate-70: oklch(97.78% 0 247.87deg);
--slate-75: oklch(97.62% 0.01 247.87deg);
--slate-80: oklch(97.46% 0.01 247.88deg);
--slate-85: oklch(97.3% 0.01 247.88deg);
--slate-90: oklch(97.14% 0.01 247.87deg);
--slate-95: oklch(96.98% 0.01 247.87deg);
--slate-100: oklch(96.83% 0.01 247.86deg);
--slate-105: oklch(96.63% 0.01 248.55deg);
--slate-110: oklch(96.43% 0.01 249.19deg);
--slate-115: oklch(96.23% 0.01 249.78deg);
--slate-120: oklch(96.04% 0.01 250.32deg);
--slate-125: oklch(95.84% 0.01 250.82deg);
--slate-130: oklch(95.64% 0.01 251.29deg);
--slate-135: oklch(95.44% 0.01 251.73deg);
--slate-140: oklch(95.25% 0.01 252.14deg);
--slate-145: oklch(95.05% 0.01 252.52deg);
--slate-150: oklch(94.85% 0.01 252.88deg);
--slate-155: oklch(94.65% 0.01 253.22deg);
--slate-160: oklch(94.46% 0.01 253.54deg);
--slate-165: oklch(94.26% 0.01 253.84deg);
--slate-170: oklch(94.06% 0.01 254.12deg);
--slate-175: oklch(93.86% 0.01 254.38deg);
--slate-180: oklch(93.67% 0.01 254.63deg);
--slate-185: oklch(93.47% 0.01 254.87deg);
--slate-190: oklch(93.27% 0.01 255.1deg);
--slate-195: oklch(93.07% 0.01 255.31deg);
--slate-200: oklch(92.88% 0.01 255.51deg);
--slate-205: oklch(92.58% 0.01 255.33deg);
--slate-210: oklch(92.28% 0.01 255.15deg);
--slate-215: oklch(91.98% 0.01 254.98deg);
--slate-220: oklch(91.68% 0.01 254.82deg);
--slate-225: oklch(91.38% 0.01 254.66deg);
--slate-230: oklch(91.08% 0.01 254.52deg);
--slate-235: oklch(90.78% 0.02 254.37deg);
--slate-240: oklch(90.48% 0.02 254.24deg);
--slate-245: oklch(90.19% 0.02 254.1deg);
--slate-250: oklch(89.89% 0.02 253.97deg);
--slate-255: oklch(89.59% 0.02 253.85deg);
--slate-260: oklch(89.29% 0.02 253.73deg);
--slate-265: oklch(88.99% 0.02 253.61deg);
--slate-270: oklch(88.69% 0.02 253.5deg);
--slate-275: oklch(88.39% 0.02 253.39deg);
--slate-280: oklch(88.09% 0.02 253.29deg);
--slate-285: oklch(87.79% 0.02 253.18deg);
--slate-290: oklch(87.5% 0.02 253.08deg);
--slate-295: oklch(87.2% 0.02 252.99deg);
--slate-300: oklch(86.9% 0.02 252.89deg);
--slate-305: oklch(86.11% 0.02 253.29deg);
--slate-310: oklch(85.32% 0.02 253.66deg);
--slate-315: oklch(84.52% 0.02 253.99deg);
--slate-320: oklch(83.73% 0.02 254.3deg);
--slate-325: oklch(82.94% 0.02 254.58deg);
--slate-330: oklch(82.15% 0.02 254.84deg);
--slate-335: oklch(81.36% 0.03 255.08deg);
--slate-340: oklch(80.57% 0.03 255.3deg);
--slate-345: oklch(79.77% 0.03 255.5deg);
--slate-350: oklch(78.98% 0.03 255.68deg);
--slate-355: oklch(78.19% 0.03 255.85deg);
--slate-360: oklch(77.4% 0.03 256.01deg);
--slate-365: oklch(76.61% 0.03 256.14deg);
--slate-370: oklch(75.82% 0.03 256.27deg);
--slate-375: oklch(75.02% 0.03 256.38deg);
--slate-380: oklch(74.23% 0.03 256.49deg);
--slate-385: oklch(73.44% 0.03 256.58deg);
--slate-390: oklch(72.65% 0.03 256.66deg);
--slate-395: oklch(71.86% 0.03 256.73deg);
--slate-400: oklch(71.07% 0.04 256.79deg);
--slate-405: oklch(70.29% 0.04 256.85deg);
--slate-410: oklch(69.5% 0.04 256.91deg);
--slate-415: oklch(68.72% 0.04 256.97deg);
--slate-420: oklch(67.94% 0.04 257.02deg);
--slate-425: oklch(67.16% 0.04 257.07deg);
--slate-430: oklch(66.38% 0.04 257.12deg);
--slate-435: oklch(65.6% 0.04 257.17deg);
--slate-440: oklch(64.82% 0.04 257.21deg);
--slate-445: oklch(64.03% 0.04 257.24deg);
--slate-450: oklch(63.25% 0.04 257.28deg);
--slate-455: oklch(62.47% 0.04 257.31deg);
--slate-460: oklch(61.69% 0.04 257.34deg);
--slate-465: oklch(60.91% 0.04 257.36deg);
--slate-470: oklch(60.13% 0.04 257.38deg);
--slate-475: oklch(59.35% 0.04 257.39deg);
--slate-480: oklch(58.56% 0.04 257.41deg);
--slate-485: oklch(57.78% 0.04 257.42deg);
--slate-490: oklch(57% 0.04 257.42deg);
--slate-495: oklch(56.22% 0.04 257.42deg);
--slate-500: oklch(55.44% 0.04 257.42deg);
--slate-505: oklch(54.89% 0.04 257.41deg);
--slate-510: oklch(54.35% 0.04 257.41deg);
--slate-515: oklch(53.81% 0.04 257.41deg);
--slate-520: oklch(53.26% 0.04 257.4deg);
--slate-525: oklch(52.72% 0.04 257.4deg);
--slate-530: oklch(52.17% 0.04 257.4deg);
--slate-535: oklch(51.63% 0.04 257.39deg);
--slate-540: oklch(51.08% 0.04 257.39deg);
--slate-545: oklch(50.54% 0.04 257.38deg);
--slate-550: oklch(50% 0.04 257.37deg);
--slate-555: oklch(49.45% 0.04 257.37deg);
--slate-560: oklch(48.91% 0.04 257.36deg);
--slate-565: oklch(48.36% 0.04 257.35deg);
--slate-570: oklch(47.82% 0.04 257.34deg);
--slate-575: oklch(47.27% 0.04 257.33deg);
--slate-580: oklch(46.73% 0.04 257.33deg);
--slate-585: oklch(46.19% 0.04 257.31deg);
--slate-590: oklch(45.64% 0.04 257.3deg);
--slate-595: oklch(45.1% 0.04 257.29deg);
--slate-600: oklch(44.55% 0.04 257.28deg);
--slate-605: oklch(44.18% 0.04 257.29deg);
--slate-610: oklch(43.81% 0.04 257.31deg);
--slate-615: oklch(43.45% 0.04 257.32deg);
--slate-620: oklch(43.08% 0.04 257.33deg);
--slate-625: oklch(42.71% 0.04 257.34deg);
--slate-630: oklch(42.34% 0.04 257.35deg);
--slate-635: oklch(41.97% 0.04 257.35deg);
--slate-640: oklch(41.6% 0.04 257.36deg);
--slate-645: oklch(41.23% 0.04 257.36deg);
--slate-650: oklch(40.86% 0.04 257.37deg);
--slate-655: oklch(40.49% 0.04 257.37deg);
--slate-660: oklch(40.12% 0.04 257.36deg);
--slate-665: oklch(39.75% 0.04 257.36deg);
--slate-670: oklch(39.38% 0.04 257.36deg);
--slate-675: oklch(39.02% 0.04 257.35deg);
--slate-680: oklch(38.65% 0.04 257.34deg);
--slate-685: oklch(38.28% 0.04 257.33deg);
--slate-690: oklch(37.91% 0.04 257.32deg);
--slate-695: oklch(37.54% 0.04 257.3deg);
--slate-700: oklch(37.17% 0.04 257.28deg);
--slate-705: oklch(36.71% 0.04 257.43deg);
--slate-710: oklch(36.25% 0.04 257.58deg);
--slate-715: oklch(35.79% 0.04 257.72deg);
--slate-720: oklch(35.33% 0.04 257.87deg);
--slate-725: oklch(34.86% 0.04 258.01deg);
--slate-730: oklch(34.4% 0.04 258.15deg);
--slate-735: oklch(33.94% 0.04 258.29deg);
--slate-740: oklch(33.48% 0.04 258.44deg);
--slate-745: oklch(33.02% 0.04 258.58deg);
--slate-750: oklch(32.56% 0.04 258.72deg);
--slate-755: oklch(32.1% 0.04 258.86deg);
--slate-760: oklch(31.64% 0.04 258.99deg);
--slate-765: oklch(31.18% 0.04 259.13deg);
--slate-770: oklch(30.72% 0.04 259.26deg);
--slate-775: oklch(30.25% 0.04 259.4deg);
--slate-780: oklch(29.79% 0.04 259.53deg);
--slate-785: oklch(29.33% 0.04 259.66deg);
--slate-790: oklch(28.87% 0.04 259.78deg);
--slate-795: oklch(28.41% 0.04 259.91deg);
--slate-800: oklch(27.95% 0.04 260.03deg);
--slate-805: oklch(27.59% 0.04 260.4deg);
--slate-810: oklch(27.23% 0.04 260.76deg);
--slate-815: oklch(26.87% 0.04 261.12deg);
--slate-820: oklch(26.51% 0.04 261.46deg);
--slate-825: oklch(26.15% 0.04 261.8deg);
--slate-830: oklch(25.79% 0.04 262.13deg);
--slate-835: oklch(25.44% 0.04 262.46deg);
--slate-840: oklch(25.08% 0.04 262.77deg);
--slate-845: oklch(24.72% 0.04 263.08deg);
--slate-850: oklch(24.36% 0.04 263.37deg);
--slate-855: oklch(24% 0.04 263.66deg);
--slate-860: oklch(23.64% 0.04 263.94deg);
--slate-865: oklch(23.28% 0.04 264.2deg);
--slate-870: oklch(22.92% 0.04 264.46deg);
--slate-875: oklch(22.56% 0.04 264.71deg);
--slate-880: oklch(22.2% 0.04 264.94deg);
--slate-885: oklch(21.84% 0.04 265.16deg);
--slate-890: oklch(21.49% 0.04 265.37deg);
--slate-895: oklch(21.13% 0.04 265.57deg);
--slate-900: oklch(20.77% 0.04 265.76deg);
--slate-905: oklch(20.22% 0.04 266.25deg);
--slate-910: oklch(19.65% 0.04 267.12deg);
--slate-915: oklch(19.05% 0.04 267.92deg);
--slate-920: oklch(18.4% 0.04 268.6deg);
--slate-925: oklch(17.7% 0.03 269.1deg);
--slate-930: oklch(16.95% 0.03 269.35deg);
--slate-935: oklch(16.12% 0.04 269.25deg);
--slate-940: oklch(15.19% 0.04 268.63deg);
--slate-945: oklch(14.13% 0.04 267.21deg);
--slate-950: oklch(12.88% 0.04 264.7deg);
--slate-955: oklch(12.44% 0.04 264.7deg);
--slate-960: oklch(11.96% 0.04 264.7deg);
--slate-965: oklch(11.44% 0.04 264.7deg);
--slate-970: oklch(10.86% 0.03 264.7deg);
--slate-975: oklch(10.22% 0.03 264.7deg);
--slate-980: oklch(9.49% 0.03 264.7deg);
--slate-985: oklch(8.62% 0.03 264.7deg);
--slate-990: oklch(7.53% 0.02 264.7deg);
--slate-995: oklch(5.98% 0.02 264.7deg);
--slate-1000: oklch(0% 0 none);